---
import Layout from "@layouts/Layout.astro";
import Header from "@components/header/Header.astro";
import Bottom from "@components/footer/Bottom.astro";
import Modal from "@components/modals/Modal.astro";
---

<Layout title="Super Singularity">
  <Header title="Super Singularity" href="/" />
  <Modal styles="w-fit h-fit p-4 right-64 top-16" id="right-modal">
    <div class="flex items-center justify-center">
      <div class="w-20 flex flex-row-reverse">❌</div>
    </div>
    <div>
      <div class="w-full h-32 bg-slate-200">Hello</div>
    </div>
  </Modal>
  <main class="text-justify">
    <p>Hello</p>
    <h1>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, esse
      temporibus perspiciatis, saepe veritatis fugit illum vel enim quos
      consectetur eos voluptatibus commodi, officiis ducimus consequatur iste
      tempore ipsa incidunt.
    </h1>
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero rem eum
      doloremque consequatur optio sunt inventore sit porro error facilis
      aliquid illo nostrum voluptatem quaerat laboriosam a, aspernatur, et
      voluptas!
    </h1>
    <h1>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum rem dicta
      molestias velit sit quis? Iste ipsum eveniet saepe eius facilis, vero
      fugit placeat animi, inventore esse aliquam molestias! Nostrum! Lorem
      ipsum dolor, sit amet consectetur adipisicing elit. Itaque voluptas
      reiciendis dignissimos vitae doloremque officia esse quod nihil, culpa
      temporibus, totam incidunt harum rem perspiciatis eius praesentium qui
      assumenda! Repudiandae!
    </h1>
    <h1>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam incidunt
      cumque qui. Quisquam cum illo in veniam obcaecati eveniet repudiandae
      molestiae autem mollitia exercitationem, aspernatur minima facilis.
      Ducimus, eligendi distinctio.
    </h1>
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum incidunt
      ex asperiores? Dignissimos aut, similique mollitia voluptas eos assumenda
      tempora quidem ipsam quam itaque eum quaerat ad id recusandae praesentium?
    </h1>
  </main>
  <Bottom title="Super Singularity" />
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
