---
import ThemeButton from "@components/buttons/ThemeButton.astro";

interface Props {
  title: string;
  href: string;
}

const { title, href } = Astro.props;
---

<header
  class="backdrop-filter backdrop-blur-lg w-full h-14 backdrop:bg-slate-500 z-50 sticky top-0"
>
  <div class="flex m-auto justify-between items-center max-w-3xl">
    <h2 class="text-xl font-bold"><a href="">{title}</a></h2>
    <div>
      <ThemeButton title="Light" />
    </div>
  </div>
</header>

<script>
  const header = document.querySelector("header");
  window.addEventListener("scroll", function () {
    if (this.window.scrollY > 80) {
      header?.classList.add(
        "border-b-[0.6px]",
        "dark:border-gray-500",
        "border-base-200"
      );
    } else {
      header?.classList.remove(
        "border-b-[0.6px]",
        "dark:border-gray-500",
        "border-base-200"
      );
    }
  });
</script>
