---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<footer>
  <h1>{title}</h1>
</footer>

<style>
  footer {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
